#CustomInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    text-align: left;
  }

  .Error {
    color: red;
    margin: 5px 0;
    text-align: left;
  }

  input,
  textarea {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font-family: inherit;
    padding: 6px 10px;
    width: 100%;
    box-sizing: border-box;
  }

  input:focus,
  textarea:focus {
    outline: none;
    background-color: #ccc;
  }
}
